*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty{
    background-color: #fff;
    border: 3px solid #000;
    height: 150px;
    width: 150px;
    margin: 10px;
}

.fill{
    cursor: pointer;
    background-image: url('https://source.unsplash.com/random/150px150');
    width: 145px;
    height: 145px;
}

.hold{
    border: 4px solid #ccc;
}

.hovered{
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media (max-width: 800px) {
    body{
        flex-direction: column;
    }
}